@page  "/Category/CadastroCategory"
@using System.Net.Http
@inject HttpClient Http
@inject NavigationManager NavigationManager

<div class="card m-3">
    <h4 class="card-header">Cadastro de Categorias</h4>
    <div class="card-body">
        <EditForm Model="@category" OnValidSubmit="HandleValidSubmit" @onreset="HandleReset">
            <DataAnnotationsValidator />

                <div class="form-group col-5">
                    <label>Nome da Categorias</label>
                    <InputText @bind-Value="category.Nome" class="form-control" />
                    <ValidationMessage For="@(() => category.Nome)" />
                </div>
                
            <div class="text-center">
                <button type="submit" class="btn btn-primary mr-1">Salvar</button>
                <button type="reset" class="btn btn-secondary">Cancel</button>
            </div>
        </EditForm>
    </div>
</div>

@code {
    private Category category = new Category();
    private EditContext editContext { get; set; }

    private async Task HandleValidSubmit()
    {
        //Enviar dados para o Controller no Backend
        var teste = await Http.PostAsJsonAsync("/Category/Create", category);
        NavigationManager.NavigateTo("Category/ListCategory");
    }

    private void HandleReset()
    {
        category = new Category();
        editContext = new EditContext(category);
    }
}